" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d
" or :actionlist
 
set ideajoin
let mapleader = " "
set surround
set commentary
set multiple-cursors
set history=1000
set visualbell
" set noerrorbells
set incsearch " Highlight search results when typing
set hlsearch " Highlight search results
set relativenumber " relative numbers
" for yanking to clipboard
set clipboard+=unnamed
set scrolloff=3 " Display at least 3 lines around you cursor

set ignorecase " Ignore case when searching
set smartcase " If there is an uppercase in your search term

" Plug 'easymotion/vim-easymotion'
" set easymotion
" map <Leader> <Plug>(easymotion-prefix)
" Plug 'easymotion/vim-easymotion'
" nnoremap <leader>s :action KJumpAction<cr>
nmap s :action KJumpAction.Word1<cr>

" KEYMAP
inoremap jk <esc>
nnoremap - :action ActivateProjectToolWindow<CR>
" nnoremap - :action ProjectViewChangeView<CR>
nnoremap <c-w>o :action HideAllWindows<cr>

nnoremap <leader>bw :action SaveDocument<CR>
nnoremap <leader>bl :action Switcher<CR>
nnoremap <c-6> :action Switcher<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>

nnoremap <leader>rl :action Refactorings.QuickListPopupAction<CR>
vmap <leader>rl :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>ra :action ShowIntentionActions<CR>
vmap <leader>ra :action ShowIntentionActions<CR>

nnoremap <leader>rc :action CopyElement<CR>

nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>rF :action com.intellij.csharpier.ReformatWithCSharpierAction<CR>

nnoremap <leader>rio :action OptimizeImports<CR>

nnoremap <leader>rr :action RenameElement<CR>
" nnoremap <leader>rf :action RenameFile<CR>

" Comment
" nnoremap <leader>cc :action CommentByLineComment<CR>
" vmap <leader>cc :action CommentByLineComment<CR>
" vmap <leader>cb :action CommentByBlockComment<CR>

" Menus
" nnoremap <leader>m :action ActivateProjectToolWindow<CR>

" Refactorings
nnoremap <leader>riv :action Inline<CR>

nnoremap <leader>rev :action IntroduceVariable<CR>
vmap <leader>rev :action IntroduceVariable<CR>
nnoremap <leader>ref :action IntroduceField<CR>
vmap <leader>ref :action IntroduceField<CR>
nnoremap <leader>rep :action IntroduceParameter<CR>
vmap <leader>rep :action IntroduceParameter<CR>
nnoremap <leader>rem :action ExtractMethod<CR>
vmap <leader>rem :action ExtractMethod<CR>

" nnoremap <leader>rm :action ExtractMethod<CR>
" vmap <leader>rp :action IntroduceParameter<CR>
" vmap <leader>ri :action Inline<CR>
" vmap <leader>rv :action IntroduceVariable<CR>
" vmap <leader>rm :action ExtractMethod<CR>
" nnoremap <leader>rp :action IntroduceParameter<CR>
" nnoremap <leader>im :action ImplementMethods<CR>
" nnoremap <leader>om :action OverrideMethods<CR>
" nnoremap <leader>qf :action ShowIntentionActions<CR>

" GoTo
nnoremap <leader>gs :action ActivateStructureToolWindow<CR>
nnoremap <leader>sp :action ParameterInfo<CR>
nnoremap <leader>sd :action QuickImplementations<CR>

" Search
" nnoremap <leader>ps :action GotoSymbol<CR>
" nnoremap <leader>ps :action SearchEverywhere<CR>
nnoremap <leader>pg :action SearchEverywhere<CR>
nnoremap <leader>pf :action GotoFile<CR>
nnoremap <leader>pg :action GotoClass<CR>
nnoremap <leader>pp :action RecentProjectListGroup<CR>
nnoremap <leader>pd :action ShowNavBar<CR>

" nnoremap <leader>ra :action GotoAction<CR>
nnoremap <leader>ss :action FindInPath<CR>
" nnoremap <leader>fr :action ReplaceInPath<CR>
" vmap <leader>fg :action FindInPath<CR>
" vmap <leader>fr :action ReplaceInPath<CR>

" Test and Run
" nnoremap <leader>gt :action GotoTest<CR>
" nnoremap <leader>tn :action RunClass<CR>
" nnoremap <leader>tl :action Rerun<CR>
" nnoremap <leader>tf :action RerunFailedTests<CR>

" Tests
nnoremap <leader>;r :action RiderUnitTestRunContextAction<CR>
nnoremap <leader>;d :action RiderUnitTestDebugContextAction<CR>
nnoremap <leader>;t :action RiderUnitTestRepeatPreviousRunAction<CR>
nnoremap <leader>;l :action RiderUnitTestRunSolutionAction<CR>
nnoremap <leader>;s :action RiderUnitTestSessionAbortAction<CR>

" Undo
nnoremap <leader>u :action LocalHistory.ShowHistory<CR>

" Jumping
" built-in navigation to navigated items works better
nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

" Navigation
nnoremap ]e :action ReSharperGotoNextErrorInSolution<cr>
nnoremap [e :action ReSharperGotoPrevErrorInSolution<cr>
nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GotoPreviousError<cr>
nnoremap ]h :action VcsShowNextChangeMarker<cr>
nnoremap [h :action VcsShowPrevChangeMarker<cr>
nnoremap <leader>es :action ShowErrorDescription<cr>
nnoremap [q :action PreviousOccurence<cr>
nnoremap ]q :action NextOccurence<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>

" Compile
nnoremap <leader>cp :action BuildOnlyCurrentProject<CR>
nnoremap <leader>cr :action RebuildSolutionAction<CR>
nnoremap <leader>cs :action BuildWholeSolutionAction<CR>

" Misc
nnoremap <leader><cr> :source ~/.ideavimrc<CR>
