configuration {
    theme:                          "config";
    show-icons:                     false;
    font:                           "Font Awesome 50";
}

@import "./options_menu.rasi"

window {
    height:                         110px;
    width:                          415px;
}
    
element {
    width:                          200px;
}